<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GymManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GymManagement.Properties.Settings>
            <setting name="IsFirstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="trainer" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupString" serializeAs="String">
                <value />
            </setting>
        </GymManagement.Properties.Settings>
    </userSettings>
</configuration>